<header class="site-header">
    <!-- Navigation -->
    <div class="container navigat">
        <div class="navigation-wrapper">
            <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl }}"><i class="fa fa-github"></i> {{ site.title }}<span>blog</span></a></h1>

            <div class="navbar-default">
                <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars"></i></a>
            </div>

            <nav role="navigation">
                <ul id="js-navigation-menu" class="navigation-menu show">
                    <li><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
                    <li><a href="{{ '/archive' | prepend: site.baseurl }}">archive</a></li>
                    <li><a href="{{ '/tags' | prepend: site.baseurl }}">tags</a></li>
                    <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank">feed</a></li>
                    <li><a href="{{ '/search' | prepend: site.baseurl }}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- /.container -->
</header>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/navbar-toggle2.js"></script>